.about {
  width: 100%;
  text-align: center;
  background-color: var(--bg-main-grey);
  padding: 60px 30px 100px;
  color: var(--color-main-black);
}

.about-title {
  font-weight: 700;
  font-size: 34px;
  margin: 0 0 42px 0;
}

.text {
  font-size: 18px;
  font-weight: 500;
}

.about-subtitle-ru,
.about-subtitle-en {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin: 0 auto 15px;
  max-width: 780px;
}

.about-description-ru,
.about-description-en {
  text-align: justify;
  max-width: 780px;
  margin: 0 auto 15px;
}

@media (max-width: 480px) {
  .about-subtitle-ru,
  .about-subtitle-en,
  .about-description-ru,
  .about-description-en {
    font-size: 14px;
  }

}
